$max-width: 768px;

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.content {
    margin: 1rem auto;
    padding: 0px 8px;
    max-width: $max-width;
    
}